.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #f7dff1;
  }
  
.text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: rgb(68, 151, 245);
    color: white;
    font-family: sans-serif;
}
.person1 {
    text-align: right;
}

.person2 {
    text-align: left;
}